.card
{
    width:350px;
    border:1px solid rgb(216, 214, 214);
    padding:10px;
    border-radius: 12px;
    box-sizing: border-box;
}

.parent-image
{
    width:320px;
    height: 200px;
}

.img
{
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius: 12px;
}

#btn
{
    width:100%;
    padding:10px;
    text-align: center;
    background-color: black;
    color:white;
    cursor: pointer;
    border-radius: 8px;
}

.parent
{
    display: flex;
    justify-content: space-evenly;
    margin:10px 0px;
    flex-wrap: wrap;
}

.display 
{
    display: flex;
    justify-content: space-between;
}

.display p{
    font-size: 25px;
    font-weight: bold;
    margin:10px 0px;
}

.successfull
{
    font-size: 25px;
    color:green;
    background-color: rgb(229, 245, 205);
    margin:10px 0px;
}

.food-output
{
    width:300px;
    padding:10px;
    border: 1px solid rgb(219, 216, 216);
    border-radius: 12px;
    margin:10px auto
}

.d-none
{
    display: none;
}